<!DOCTYPE html>
<html>
  <head>
    <title>The Anti-Social Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <style type="text/css">
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100%; width:100%; }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy0p9v4wMWnSMO65bFlG6f4eeyDLXxwL4&sensor=false"></script>
  </head>
  <body>
    <div id="map-canvas"></div>

    <script src="/static/jquery-min.js"></script>
    <script src="/static/underscore-min.js"></script>
    <script src="/static/backbone-min.js"></script>
    <script src="/static/GeoJSON.js"></script>
    <script src="/static/colorado.js"></script>
  </body>
</html>
