<!DOCTYPE html>
<html>
  <head>
    <title>The Anti-Social Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link type="text/css">
    <link rel="stylesheet" href="/static/styles.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy0p9v4wMWnSMO65bFlG6f4eeyDLXxwL4&sensor=false"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <h3>The Anti-Social Network</h3>
        <i>When you don't want to be part of something...</i>
      </div>
    </div>
    <div id="hoverbar">
    </div>
    <div id="legend">
      <h5 id="top">Less Stuff</h5>
      <h5 id="bottom">More Stuff</h5>
    </div>
    <div id="map-canvas"></div>

    <script src="/static/jquery-min.js"></script>
    <script src="/static/underscore-min.js"></script>
    <script src="/static/backbone-min.js"></script>
    <script src="/static/GeoJSON.js"></script>
    <script src="/static/colorado.js"></script>
  </body>
</html>
